.FormularioAnuncio h1{
	align-content: center;
	padding: 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.FormularioAnuncio hr{
	width: 60%;
	margin-bottom: 30px;
}

.FormularioAnuncio form{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin-left: 18%;
	font-weight: bold;
}

.FormularioAnuncio .Parte{
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
}

.FormularioAnuncio .ParteImagen{
	display: block;
	margin-top: 10px;
	margin-left: 50px;
	width: 60%;
}

.FormularioAnuncio .Atributo{
	display: block;
	margin-top: 20px;
}

.FormularioAnuncio .Atributo label{
	font-size: 15px;
}

.FormularioAnuncio .Atributo input{
	border-radius: 5px;
	padding: 5px;
	margin-left: 40px; 
	float: right;
	border: 1px solid #FFBF00;
}

.FormularioAnuncio .Atributo input:focus{
	outline:0;
	box-shadow: inset 0px 0px 5px 0px #FFBF00;
}

.FormularioAnuncio .AtributoImagen{
	display: block;
	margin-top: 40px;
}

.FormularioAnuncio .AtributoImagen label{
	font-size: 15px;
}

.FormularioAnuncio .AtributoImagen input:focus{
	outline:0;
}

.FormularioAnuncio .Imagenes img{
	margin: 30px;
	height: 100px;
	width: auto;
	border: 1px solid black;
	border-radius: 10px;
	display: inline-block;
}

.FormularioAnuncio .ImagenLabel{
	padding: 10px;
	background-color: transparent;
	border: 1px solid #61E232;
	transition-duration: 0.3s;
}

.FormularioAnuncio .ImagenLabel:hover{
	background-color: #61E232;
}

.FormularioAnuncio .ImagenInput{
	width: 0.1px;
	height: 0.1px
}

.FormularioAnuncio .Botones{
	margin-top: 30px;
	margin-left: 18%;
	margin-bottom: 50px;
}

.FormularioAnuncio button{
	background-color: white;
	border-style: none;
	transition-duration: 0.3s;
	width: 200px;
	margin-top: 20px;
}

.FormularioAnuncio button:hover{
	color: white;
	border-style: none;
}

.FormularioAnuncio .BtnCrear:hover{
	background-color: #61E232;
}

.FormularioAnuncio .BtnCancelar:hover{
	background-color: #F62626;
}