.FormularioVendido{
	margin-top: 80px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 50px;
	border:2px solid #f2f2f2;
	border-radius: 25px;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 500px;
}

.FormularioVendido img{
	margin: 30px;
	width: 200px;
	height: 200px;
	border-radius: 15%;
}

.FormularioVendido h1,h2,h3{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.FormularioVendido .BarraBusqueda input{
	margin: 20px 0px 20px 20px;
	height: 30px;
	width: 50%;
	border-radius: 15px;
	border:2px solid #cbd1db;
	padding: 10px;
	font-size: 1.7em;
	transition-duration: 0.4s;
}

.FormularioVendido .BarraBusqueda input:focus{
	outline: none;
	border:2px solid black;
}

button:focus{
	outline: none;
}

.FormularioVendido .BarraBusqueda button{
	margin: 20px 0px 20px 20px;
	height: 70px;
	width: 140px;
	background: #f2f2f2;
	border-radius: 15px;
	color: white;
	font-weight: bolder;
	transition-duration: 0.3s;
}

.FormularioVendido .BtnAceptar{
	margin: 20px 20px 20px 20px;
	height: 70px;
	width: 50%;
	background: #f2f2f2;
	border-radius: 15px;
	color: white;
	font-weight: bolder;
	transition-duration: 0.3s;
	border:2px solid #FFBF00;
	color: #FFBF00;
}

.FormularioVendido .BtnAceptar:hover{
	border: 2px solid #FFBF00;
	background: #FFBF00;
	color: white;
}

.FormularioVendido .BtnAceptar:active{
	border: 2px solid white;
}

.FormularioVendido .BarraBusqueda .BtnBuscar{
	border:2px solid #4286f4;
	color: #4286f4;
}

.FormularioVendido .BarraBusqueda .BtnBuscar:hover{
	border: 2px solid #4286f4;
	background: #4286f4;
	color: white;
}

.FormularioVendido .BarraBusqueda .BtnBuscar:active{
	border: 2px solid white;
}

.FormularioVendido .BarraBusqueda .BtnCancelar{
	border:2px solid #f44d41;
	color: #f44d41;
}

.FormularioVendido .BarraBusqueda .BtnCancelar:hover{
	border: 2px solid #f44d41;
	background: #f44d41;
	color: white;
}

.FormularioVendido .BarraBusqueda .BtnCancelar:active{
	border: 2px solid white;
}
