.Login{
  background-image: url("./img/inicio.jpg");
  padding-top: 60px;
}

.Login .Form{
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 60px;
  border-radius: 30px;
  border:1px solid black;
  font-weight: bold;
  align-content: center;
}

.Login h1{
  align-content: center;
  text-transform: capitalize;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.Login .Parte{
  display: inline-block;
  margin-top: 10px;
  margin-left: 15%;
}

.Login .Botones{
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 30%;
  margin-left: 30%;
}

.Login button{
  background-color: transparent;
  transition-duration: 0.3s;
  width: 200px;
  height: 60px;
  margin-top: 20px;
  margin-left: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.Login .BtnIngresar{
  border: 2px solid #61E232;
}

.Login .BtnForgotPassword{
  border: 2px solid #F62626;
}

.Login button:focus{
  outline: none;
}

.Login .BtnIngresar:hover{
  color:white;
  background-color: #61E232;
}

.Login .BtnForgotPassword:hover{
  color:white;
  background-color: #F62626;
}

.Login .Info{
  background-color: black;
  color: white;
  padding-top: 30px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 30px;
}

.Login .Info .Texto{
  width: 50%;
  height: 200px;
  display: inline-block;
}

.Login .Imagenes{
  background-color: black;
  display: inline-block;
  margin: 30px;
}

.Login .Imagenes img{
  height: 80px;
  width: auto;
  margin: 10px;
}