.SlideShow{
	width: 400px;
	max-height: 500px;
}

.SlideShow img{
	margin:10px;
    max-width: 400px;
    max-height: 500px;
    min-width: 400px;
    transition-duration: 0.4s;
    border-radius: 25px;
    background: white;
}

.SlideShow button:focus{
	outline: none;
}

.SlideShow .Btn{
	width: 20px;
	height: 20px;
	margin: 10px;
	border: 1px solid white;
	border-radius: 50%;
	background: white;
	transition-duration: 0.3s;
}

.SlideShow .BtnActivo{
	width: 20px;
	height: 20px;
	background: black;
	border: 1px solid black;	
}