.SlideShow{
	margin-top: 50px;
	width: 400px;
	max-height: 500px;
}

.SlideShow img{
	margin:10px;
    max-width: 400px;
    max-height: 500px;
    min-width: 400px;
    transition-duration: 0.4s;
    background: white;
}

.SlideShow img:hover{
    border-radius: 25px;
}

.SlideShow button:focus{
	outline: none;
}

.SlideShow .Btn{
	width: 20px;
	height: 20px;
	background: white;
	border: 1px solid white;
}

.SlideShow .BtnActivo{
	width: 20px;
	height: 20px;
	background: black;
	border: 1px solid black;	
}

/*
.SlideShow button{
	cursor: pointer;
	width: 50px;
	height: 150px;
	margin-top: 20px;
	padding: 15px;
	background: transparent;
	position: absolute;
	vertical-align: middle;
	border: transparent;
	color: transparent;
	transition-duration: 0.3s;
	font-weight: bold;
}

.SlideShow button:hover{
	background: rgba(255,255,255,0.3);
	border: transparent;
	color: black;
}

.SlideShow .BtnPrev{
	margin-left: 20px;
}

.SlideShow .BtnNext{
	margin-left: 350px;
}
*/