.EliminarCuenta button{
	border:2px solid white;
	background: white;
	transition-duration: 0.3s;
	width: 200px;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 10px;
}

.EliminarCuenta button:focus{
	outline: none;
}

.EliminarCuenta button:hover{
	border:2px solid white;
	color: white;
}
.EliminarCuenta .BtnCrear{
	border-color: #61E232;
}

.EliminarCuenta .BtnCancelar{
	border-color: #F62626;
}
.EliminarCuenta .BtnCrear:hover{
	background-color: #61E232;
}

.EliminarCuenta .BtnCancelar:hover{
	background-color: #F62626;
}