/**CONTENT TWO*/

.contenttwo{
	width: 100%;
	padding: 40px;
	background: rgba(0, 0, 0, 0.75);

}

.contentdetails{
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media screen and (max-width: 900px){
	.contentdetails{
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.contentdetailsfora{
	margin: 20px;
}
.contentdetailsfora h3{
	border: 1%;
    border-style: none none solid none;
        border-color: #FFBF00;
        color: white;
}
.contentdetailsfora h3:hover{
	background: #FFBF00;

}

.contentdetailsfora p{
	margin-top: 20px;
	color: white;
}

.icon-heart, .icon-laptop, .icon-support{
	color: #EA5D5D;
	font-size: 40px;
}

