.SlideShow{
  width: 100%;
  height: 400px;
  overflow: hidden;
  background-color: #FFBF00;
}

.SlideShow img{
  margin-top: 5px;
  margin-left: 5%;
  margin-bottom: 5px;
  width: 600px;
  height: 390px;
  border-radius: 15px;
}

.SlideShow .Frame1{
  margin-left: 0%;
  transition-duration: 0.3s;
}

.SlideShow .Frame2{
  margin-left: -100%;
  transition-duration: 0.3s;
}

.SlideShow .Texto{
  float: right;
  margin-top: 150px;
  margin-right: 15%;
  width: 35%;
  font-size: 3em;
  font-weight: bold;
  word-wrap: break-word;
}