.Formulario h1{
	align-content: center;
	padding: 10px;
	margin-bottom: 10px;
	text-transform: capitalize;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.Formulario hr{
	width: 60%;
	margin-bottom: 30px;
}

.Formulario .Form{
	margin-left: 16%;
	margin-right: 16%;
	margin-bottom: 50px;
	border:1px solid #f2f2f2;
	border-radius: 10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
}

.Formulario .Parte{
	display: inline-block;
	margin-top: 10px;
	margin-left: 50px;
}

.Formulario .Botones{
	margin-top: 30px;
	margin-bottom: 50px;
	margin-right: 25%;
	margin-left: 25%;
}

.Formulario button{
	border:2px solid white;
	background: white;
	transition-duration: 0.3s;
	width: 200px;
	margin-top: 20px;
	margin-left: 10px;
	border-radius: 10px;
}

.Formulario button:focus{
	outline: none;
}

.Formulario button:hover{
	border:2px solid white;
	color: white;
}

.Formulario .BtnCrear{
	border-color: #61E232;
}

.Formulario .BtnCancelar{
	border-color: #F62626;	
}

.Formulario .BtnCrear:hover{
	background-color: #61E232;
}

.Formulario .BtnCancelar:hover{
	background-color: #F62626;
}