.PublicacionDetalle{
	background-color: #FFBF00;
	border:1%;
	border-style:solid;
	border-color: #FFBF00;
	transition-duration: 0.4s;
}

.PublicacionDetalle a{
    text-decoration: none;

}

.PublicacionDetalle td{
	float: left;
}

.PublicacionDetalle .Imagen img{
	margin:20px;
	width: 600px;
    height: auto;
    transition-duration: 0.4s;
}

.PublicacionDetalle .Imagen img:hover{
    border-radius: 25px;
}

.PublicacionDetalle .Info{
	padding: 20px 60px 20px 20px;
	width: 400px;
}

.PublicacionDetalle .Destacado{
	width: 35px;
    height: auto;
	float: right;
}

.PublicacionDetalle .Precio{
	float: right;
	font-size: 30px;
}

.PublicacionDetalle .TituloPublicacionDetalle{
	text-align: left;
	margin-top: 70px;
	font-size: 35px;
}

.PublicacionDetalle .TextoPublicacionDetalle{
	text-align: left;
}

.PublicacionDetalle .UsuarioPublicacionDetalle{
	margin: 20px;
}

.PublicacionDetalle .UsuarioImagenDetalle img{
	width: 70px;
	height: 70px;
	margin: 10px;
	border-radius: 35px;
}

.PublicacionDetalle .UsuarioPuntuacionDetalle img{
	width: 25px;
	height: 25px;
}

.PublicacionDetalle .Contactar{
	text-align: center;
	margin-top: 200px;
	padding: 30px;
	border: 2px solid black;
	background: transparent;
	transition-duration: 0.3s;
}

.PublicacionDetalle .Contactar:hover{
	background: black;
	color: #FFBF00;
}