.AnuncioDetalle{
	margin-top: 90px;
}

.PublicacionDetalle{
	background: #FFBF00;
	border:1% solid #FFBF00;
	border-radius: 30px;
	transition-duration: 0.4s;
	padding: 10px;
	margin-left: 10%;
	margin-right: 10%;
	display: flex;
}

.PublicacionDetalle a{
    text-decoration: none;
}

.PublicacionDetalle .Imagen, .Info, .InfoUsuario{
	display: inline-block;
}

.PublicacionDetalle .Imagen{
	width: 400px;
	height: auto;
	margin-right: 15px;
}

.PublicacionDetalle .Info{
	padding: 20px 60px 20px 20px;
	width: 350px;
}

.PublicacionDetalle .Precio{
	float: right;
	font-size: 30px;
}

.PublicacionDetalle .Titulo{
	text-align: left;
	margin-top: 60px;
	font-size: 35px;
}

.PublicacionDetalle .Texto{
	text-align: left;
}

.PublicacionDetalle .InfoUsuario{
	width: 150px;
	height: auto;
	border-left: 6px solid black;
}

.PublicacionDetalle .InfoUsuario img{
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.PublicacionDetalle .InfoUsuario .Valoracion img{
	width: 25px;
	height: auto;
}

.Opcion{
	background: transparent;
	border: none;
	padding: 5px;
	width: 100%;
	transition-duration: 0.4s;
}

.Opcion:focus{
	outline: none;
}

.Opcion:hover{
	background-color: black;
	color: #FFBF00;
	width: 120%;
}
