.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
}

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }
}

.NavigationItems li {
    padding:17px;
    background-color: transparent;
    color: white;
    border:1%;
    border-color: #FFBF00;
    border-style:none none solid none;
    transition-duration: 0.4s;
}

.NavigationItems li:hover,
.NavigationItems li:active,
.NavigationItems li.active {
    background-color: #FFBF00;
    border-bottom:4px solid #FFBF00;
    color: white;
}

.BarSuperiorBtn {
    border-bottom:4px solid #FFBF00
}