.Portada{
  margin-top: 55px;
  width: 100%;
}

.Portada .SlideShow{
  height: 400px;
  width: 100%;
}
.Anuncios{
	margin:20px 0px;
	width: 70%;
}

@media only screen and (max-width: 500px) {
    .Portada{
	  margin-top: 55px;
	}

	.Portada .SlideShow{
	  height: 400px;
	  width: 100%;
	}

}