.Portada{
  margin-top: 55px;
}

.Portada .SlideShow{
  height: 400px;
  width: 100%;
}

.Portada .Anuncios{
  margin-left: 20%;
  margin-right: 20%;
}

.Portada .Anuncios h1{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-weight: bolder;
}