.Portada{
  margin-top: 55px;
}

.Portada .SlideShow{
  height: 400px;
  width: 100%;
}

.Portada .Anuncios{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 20px;
}

.Portada .Anuncios h1{
  font-weight: bolder;
}

@media only screen and (max-width: 500px) {
    .Portada{
	  margin-top: 55px;
	}

	.Portada .SlideShow{
	  height: 400px;
	  width: 110%;
	}

	.Anuncios{
		width: 10%;
	}

	.Portada h1{
	  width: 10%;
	  float: left;
	}
}