.FotoFormulario{
	display: block;
	margin-top: 30px;
	margin-left: 25%;
	width: 60%;
}

.FotoFormulario .AtributoImagen{
	display: block;
	margin-top: 30px;
	margin-left: 15%;
}

.FotoFormulario .AtributoImagen label{
	font-size: 15px;
}

.FotoFormulario .AtributoImagen input:focus{
	outline:0;
}

.FotoFormulario .Imagen img{
	margin: 30px;
	margin-bottom: 20px;
	height: 250px;
	width: 250px;
	border: 1px solid black;
	border-radius: 50%;
	display: inline-block;
}

.FotoFormulario .ImagenLabel{
	margin-top: 40px;
	width: 150px;
	height: 55px;
	padding: 10px;
	background-color: transparent;
	border: 1px solid #61E232;
	border-radius: 10px;
	transition-duration: 0.3s;
}

.FotoFormulario .ImagenLabel:hover{
	background-color: #61E232;
	color: white;
}

.FotoFormulario .ImagenInput{
	width: 0.1px;
	height: 0.1px;
	overflow: hidden;
}